
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.img2{
    max-height: 700px;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}

.carousel-caption{
    bottom: 155px;
}

.proedu{
font-family: 'Poppins';
font-weight: 600;
font-size: 40px;
color: #4A4A4A;
}

.menu-item{
font-family: 'Poppins';
font-weight: 400;
font-size: 18px;
color: #777777;
}

.register-btn{
    width: 150px;
    height: 56px;
    left: 1310px;
    top: 52px;
    border: 1px solid #289BDE;
    border-radius: 5px;
}

.rgstr{
font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
color: #289BDE;
}

.get-started{
width: 182px;
height: 56px;
background: #289BDE;
border: 1px solid #289BDE;
border-radius: 5px;
}
.get-started-digital{
font-family: 'Poppins';
font-weight: 600;
font-size: 60px;
color: #FFFFFF;
}

.discover{
font-family: 'Poppins';
font-weight: 600;
font-size: 40px;
color: #1D1D1D;
}
.discover-p{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #777777;
}

.card-title{
font-family: 'Poppins';
font-weight: 600;
font-size: 25px;
color: #4A4A4A;
}
.card-text{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #777777;
}
.price{
font-family: 'Poppins';
font-weight: 600;
font-size: 18px;
color: #289BDE;
}

.row > *{
    padding: 0;
}
.more-courses{
width: 248px;
height: 56px;
left: 676px;
top: 1926px;

background: #289BDE;
border: 1px solid #289BDE;
border-radius: 5px;
}

.more-courses-span{
font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
}

.items{
    margin-right: 30px;
}

.read-more{
width: 175px;
height: 56px;
background: #289BDE;
border: 1px solid #289BDE;
border-radius: 5px;
}

.explore-institute{
    margin-top: 130px;
  
}
.institute{
    margin-top: 100px;
    background: #F4FAFD;
    border-radius: 5px;
}

.explore-title{
font-family: 'Poppins';
font-weight: 600;
font-size: 45px;
color: #1D1D1D;
}
.explore-p{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #777777;
}

.total{
font-family: 'Poppins';
font-weight: 600;
font-size: 45px;
color: #1D1D1D;
}

.p-cap{
font-family: 'Poppins';;
font-weight: 500;
font-size: 20px;
color: #777777;

}


.rgstr-now{
font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
color: #289BDE;
}

.rdy-to-join{
    margin-top: 130px;
    height: 300px;
    background: #289BDE;
    border-radius: 5px;
    }
    
    .join{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    }
  
    
    .modal-btn{
        width: 199px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        margin-top: 140px;
        margin-left: 300px;

     }

     .join-title{
        margin-left: 112px;
        margin-top: 80px;
     }

     .p-join{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #F4F4F4;
     }

     .card-img{
        width: 312px;
        height: 400px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 5px;

       
     }

    .card-main-title{
        margin-top: 130px;
    }
    .main-card-title{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 45px;
        color: #1D1D1D;
    }

    .main-p-title{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #777777;
    }
    .view-all{
        width: 146px;
        height: 56px;
        background: #289BDE;
        border: 1px solid #289BDE;
        border-radius: 5px;
    }

    .heading-title{
        margin-top: 130px;
    }

    .feedback-title{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 45px;
        color: #1D1D1D;
    }

    .feedback-cap{
        margin-top: 30px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #777777;
    }

    
        
.fa-solid{
    color: #FBBF24;
}
.student-feedback{
    width: 648px;
    height: 336px;
    left: 140px;
    top: 4554px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    }

    .all-icon{
        margin-left: 380px;
    }

    .awlad-hossain{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #4A4A4A;

    }
    .ui-designer{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #777777;
    }